//COLORS

$bio-dark: #333
$light:#fff
$light-text:#fff
$dark-text: #000
$icon-light: #fff
$icon-light-hover: darken( $icon-light, 60% )
$icon-dark: #333
$icon-dark-hover: lighten( $icon-dark, 60% )

$dark-overlay: rgba(0,0,0, .75)
$light-overlay: rgba(255,155,255, .7)

$large-screen: em(860)
$medium-screen: em(768)
$small-screen: em(480)
$tiny-screen: em(300)

//HEIGHT
$tiny: 10px
$tiny-small: 20px
$small: 35px
$small-mid: 60px
$mid: 100px
$mid-large: 185px
$large: 300px
$huge:780px

//MARGINS & PADDING
$tiny-margin: 2vw
$small-margin: 5vw

$tiny-padding: 2vw
$small-padding: 5vw

$google-font: 'Raleway', sans-serif

//FOOTER Variables
$base-spacing: 1.5em !default
$action-color: #0D8D8F !default
$medium-screen: em(640) !default
$large-screen: em(860) !default
$footer-background: desaturate(darken($action-color, 20%), 30%)
$footer-color: $light-text
$footer-link-color: transparentize($footer-color, 0.6)
$footer-disclaimer-color: transparentize($footer-color, 0.6)
