@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

IMG {
  image-rendering: optimizeSpeed; }

.hover-menu {
  overflow: visible;
  padding-right: 0; }
  @media screen and (min-width: 53.75em) {
    .hover-menu {
      position: relative; } }
  .hover-menu .hover-menu-item {
    left: 0;
    position: relative; }
  .hover-menu .submenu {
    display: none;
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
    left: 0;
    position: absolute; }
  .hover-menu .submenu li {
    display: block;
    padding-right: 0; }
  .hover-menu .submenu li a {
    display: inline-block;
    text-align: right;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .hover-menu .submenu li a {
        text-align: left;
        width: 10em; } }
  @media screen and (min-width: 53.75em) {
    .hover-menu .submenu .submenu {
      left: 10em;
      top: 0; } }
  .hover-menu:focus > .submenu, .hover-menu:hover > .submenu {
    display: block; }

.social-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #333;
  height: 35px;
  padding-top: 8px; }
  .social-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 300px) {
    .social-container {
      padding-top: 0; } }
  .social-container a {
    color: #fff; }
    .social-container a:hover {
      color: #666666; }
    .social-container a i {
      font-size: 20px; }
      @media screen and (min-width: 300px) {
        .social-container a i {
          font-size: 35px; } }
  .social-container .half {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    padding-left: 2vw;
    color: #fff; }
    .social-container .half:last-child {
      margin-right: 0; }
  .social-container .second-half {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    padding-right: 2vw;
    text-align: right; }
    .social-container .second-half:last-child {
      margin-right: 0; }

.main-navigation {
  font-family: "Raleway", sans-serif;
  padding-top: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  background: #fff; }
  .main-navigation a {
    text-decoration: none; }
  .main-navigation::after {
    clear: both;
    content: "";
    display: table; }
  .main-navigation .navigation-wrapper {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    position: relative; }
    .main-navigation .navigation-wrapper:last-child {
      margin-right: 0; }
    .main-navigation .navigation-wrapper .mobile-nav-wrapper {
      float: right;
      margin-right: 7%; }
      .main-navigation .navigation-wrapper .mobile-nav-wrapper .navigation-menu-button {
        height: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #000; }
        .main-navigation .navigation-wrapper .mobile-nav-wrapper .navigation-menu-button:before {
          content: "";
          font-family: Ionicons;
          font-size: 18px;
          color: black;
          padding-right: 5px; }
        @media screen and (min-width: 48em) {
          .main-navigation .navigation-wrapper .mobile-nav-wrapper .navigation-menu-button {
            display: none; } }
    .main-navigation .navigation-wrapper .nav-logo {
      display: inline-block;
      padding-left: 2vw; }
      .main-navigation .navigation-wrapper .nav-logo img {
        height: 55px; }
    .main-navigation .navigation-wrapper nav {
      float: right;
      padding-right: 3%; }
      @media screen and (max-width: 48em) {
        .main-navigation .navigation-wrapper nav {
          display: none; } }
    .main-navigation .navigation-wrapper li {
      z-index: 1000;
      display: inline;
      float: right;
      padding: 0 5px 0 2px; }
      .main-navigation .navigation-wrapper li a {
        color: #000;
        background: #fff;
        border: 2px solid #333;
        text-transform: uppercase;
        padding: 5px 5px 5px 5px; }
        .main-navigation .navigation-wrapper li a:hover {
          color: #fff;
          background: #333; }

#slideshow, #slideshow-second {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  position: relative; }
  @media screen and (min-width: 18.75em) {
    #slideshow, #slideshow-second {
      height: 180px; } }
  @media screen and (min-width: 30em) {
    #slideshow, #slideshow-second {
      height: 260px; } }
  @media screen and (min-width: 48em) {
    #slideshow, #slideshow-second {
      height: 300px; } }
  @media screen and (min-width: 53.75em) {
    #slideshow, #slideshow-second {
      height: 400px; } }
  #slideshow li, #slideshow-second li {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%; }
    @media screen and (min-width: 18.75em) {
      #slideshow li, #slideshow-second li {
        height: 180px; } }
    @media screen and (min-width: 30em) {
      #slideshow li, #slideshow-second li {
        height: 260px; } }
    @media screen and (min-width: 48em) {
      #slideshow li, #slideshow-second li {
        height: 300px; } }
    @media screen and (min-width: 53.75em) {
      #slideshow li, #slideshow-second li {
        height: 400px; } }
    #slideshow li img, #slideshow-second li img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%; }

.active {
  z-index: 1000; }

.next-active {
  z-index: 999; }

.last-active {
  z-index: 998; }

.grid-items-lines {
  position: relative; }
  .grid-items-lines::after {
    clear: both;
    content: "";
    display: table; }
  .grid-items-lines .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: white;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer;
    float: left;
    height: 14em;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .grid-items-lines .grid-item {
        width: 33.3333333333%; } }
    .grid-items-lines .grid-item:focus, .grid-items-lines .grid-item:hover {
      background: rgba(51, 51, 51, 0.05); }
  .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: 0.2; }
  .grid-items-lines .grid-item h1 {
    color: #333333;
    font-size: 1.3em;
    margin-bottom: 0.4em; }
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6);
    line-height: 1.5em; }
    @media screen and (min-width: 48em) {
      .grid-items-lines .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    .grid-items-lines .grid-item-big {
      width: 66.6666666667%; } }
  @media screen and (min-width: 48em) {
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }
  .grid-items-lines .bottom-cover {
    background: white;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%; }
  .grid-items-lines .right-cover {
    background: white;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px; }

.footer-2 {
  background: #003536;
  padding: 1.5em;
  width: 100%;
  display: inline-block; }
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0; } }
  .footer-2 ul li {
    list-style: none;
    padding-right: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer-2 ul li a:focus, .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: 0.8em; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin: 1em 0 0 0; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      font-size: 1em;
      float: left;
      line-height: 0;
      margin: 0;
      padding-right: 0.7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      height: 1.6em;
      opacity: 0.7;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }
